{% extends "shop/base.html" %}

{% block title %}
  Заказ
{% endblock %}

{% block content %}
  <h1>Заказ</h1>

  <div class="order-info">
    <h3>Ваш заказ</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }} Х {{ item.product.name }}
          <span>{{ item.total_price }} Сом</span>
        </li>
      {% endfor %}
    </ul>
    <p>Общая цена: {{ cart.get_total_price }} Сом</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Отправить заказ"></p>
    {% csrf_token %}
  </form>
{% endblock %}